@import "mq";
@import "palette";

.editorial-wrapper {

	width: 100%;
	margin: auto;
	box-sizing: border-box;

	@include mq($until: tablet) {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	@include mq($from: tablet) {
		max-width: 640px;
	}

	.int-byline {
		font-size: 16px;
		line-height: 20px;
		font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
		font-weight: 900;
		color: #767676;
		display: block;
		font-weight: 400;
		font-style: italic;
		min-height: 48px;
		margin-bottom: 6px;
		margin-top: 20px;
		background-repeat: repeat-x;
		background-position: top;
		background-size: 6px 10px;
		padding-top: 6px!important;
	}

	.int-byline a {
		font-weight: 700;
		color: $primary;
		font-style: normal;
	}

	.int-date {
		font-size: 12px;
		line-height: 16px;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color: #767676;
		display: block;
		padding-top: 6px;
		font-style: normal;
	}

}