@import "palette";

.od-share__button {
	height: 30px;
	width: 30px;
	border-radius: 20px;
	float: left;
	margin-right: 4px;
	border: 1px solid $primary;
}

.od-share__button:hover {
	background-color: $primary;
}

.od-share__button:hover .od-share__icon {
	fill: #fff;
}

.od-share__icon {
	fill: $primary;
	width: 100%;
	height: 100%;
	margin: auto;
}

.od-share {
	z-index: 2;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 6px;
	display: block;
	border-top: 1px solid #dcdcdc;
	padding-top: 6px;
	margin-top: 6px;
}