<div class="interactive-wrapper">

    <div class="header_container">
        
        <div class="header-wrapper">

            <div class="main">
            
                <div class="mainCol">

                    <div class="int-tag">The Fight for Hong Kong</div>

                    <div class="headline-wrapper">

                        <h1>The arrested: Hongkongers caught up in Beijing's national security law</h1>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="editorial-wrapper">

        <div class="int-byline">

            <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a> and <a href="https://www.theguardian.com/profile/andy-ball">Andy Ball</a>
            <!--time class="int-date" data-timestamp="1553842806000" datetime="2019-10-10T07:00:06+0000" itemprop="datePublished">8 October 2019</time-->
            <div class="social_isolation">
                <ul class="od-share">
                    <li class="od-share__button od-share__button--facebook interactive-share" data-network="facebook">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg>
                    </li>
                    <li class="od-share__button od-share__button--twitter interactive-share" data-network="twitter">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg>
                    </li>
                </ul>
            </div>
        </div>
        
        <p>One important characteristic of viruses and other pathogens is how contagious they are.</p>

        <p>This is measured in a few ways. One key measure is the <a href="https://www.healthknowledge.org.uk/public-health-textbook/research-methods/1a-epidemiology/epidemic-theory">R0, or basic reproduction number</a>, which indicates how many new cases one infected person generates.</p>

        <p>For an R0 of three we would expect each new case of a disease to produce three other infections.</p>

        <p>This is not just a measure of the inherent infectiousness of a disease. It also depends on other factors, including the rate of contact within a population and the duration of the infectious period. It's a situation-dependent value, so in one city the R0 might be higher and in another lower. It also assumes that the entire population is susceptible to the disease.</p>

        <p>Early studies of the behaviour of Covid-19 in Wuhan estimated the average R0 to be between 2.2 and 2.7, while smaller-scale outbreaks such as the one that occurred onboard the <a href="https://www.ijidonline.com/article/S1201-9712(20)30091-6/fulltext#%20">Diamond Princess</a> had an R0 estimated at 2.2. Other studies suggest that values as <a href="https://www.nature.com/articles/s41421-020-0148-0">low as 1.5 and as high as 3.8 were possible</a>.</p>

        <p>So what does that look like, and how does it compare with other diseases?</p>

    </div>

    <div id="scrolly-1" data-loader="rzero">
        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="infobox"></div>
                <div id="data-viz"></div>
            </div>
            <div class="scroll-text">

                <div class="scroll-text__inner"></div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>2</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        <p>Land clearing from 2001 to 2018</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>4</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>5</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>6</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="editorial-wrapper">

        <p>How does Covid-19 compare with other diseases?</p>

        <p>Here, you can see the same spread patterns generated based on the R0 for a range of pathogens in a range of situations, ranging from Spanish flu to the highly contagious measles, for which R0 has been estimated to range between 12 and 18.</p>

        <p>But the R0 is not the only important number. The effective reproduction number, R, is a value that takes into account the susceptibility of the population.</p>

        <p>The estimated fatality rate for Covid-19 varies again depending on the location and situation, and particularly on the level of testing being conducted. In the early outbreak in China, for example, <a href="https://jamanetwork.com/journals/jama/fullarticle/2762130?guestAccessKey=bdcca6fa-a48c-4028-8406-7f3d04a3e932&utm_source=For_The_Media&utm_medium=referral&utm_campaign=ftm_links&utm_content=tfl&utm_term=022420&mod=article_inline">one report put the case fatality rate at 2.3%</a>. In South Korea the virus has an estimated case fatality rate of 1.2%.</p> 

        <p>Here, you can set the thresholds for different values and see the result using our simplified model. The reality of pandemics is far more complex but this does demonstrate the basic concepts underlying the spread of diseases. This model uses a hypothetical population of 1,000 people to better visualise the proportion of infections and deaths, and assumes that every person can come into contact with every other person in the population.</p>

    </div>

 
</div>

<div class="footer" id="footer">
    
    <div class="credits_read_more">
        
        <div class="notes"></div>

    </div>

    <div class="credits_read_more"><h2>Read more</h2></div>

    <ul class="footer-grid">

        {{#footer}}

        <li>
            <div class="footer-item-container">
                <img src="{{image}}">
                <div class="footer_headline_container"><h2>{{headline}}</h2></div>
                <a class="anchor" href="{{url}}" target="_blank"></a>
            </div>
        </li>

        {{/footer}}
    
    </ul>

</div>
