<div class="interactive-wrapper">

    <div class="header_container">
        
        <div class="header-wrapper">

            <div class="main">
            
                <div class="mainCol">

                    <!--div class="int-tag">Australia</div-->

                    <!--div class="headline-wrapper">

                        <h1>Who owns the outback</h1>

                    </div-->

                </div>

            </div>

        </div>

    </div>

    <div class="editorial-wrapper">

        <div class="int-byline">

            <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a> and <a href="https://www.theguardian.com/profile/andy-ball">Andy Ball</a>

            <div class="social_isolation">
                <ul class="od-share">
                    <li class="od-share__button od-share__button--facebook interactive-share" data-network="facebook">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg>
                    </li>
                    <li class="od-share__button od-share__button--twitter interactive-share" data-network="twitter">
                        <svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg>
                    </li>
                </ul>
            </div>
        </div>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
        
        <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

        <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    </div>

    <div id="scrolly-1" data-loader="map-1">

        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="data-viz-1"></div>
            </div>

            <div class="scroll-text">
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
            </div>

        </div>

    </div>

    <div class="editorial-wrapper">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
        
        <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

        <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
        
        <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

        <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    </div>

    <div id="scrolly-2" data-loader="map-2">

        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="data-viz-2"></div>
            </div>

            <div class="scroll-text">
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
            </div>

        </div>

    </div>

    <div class="editorial-wrapper">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
        
        <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

        <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    </div>

    <div id="scrolly-3" data-loader="map-3">

        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="data-viz-3"></div>
            </div>

            <div class="scroll-text">
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner"></div>
            </div>

        </div>

    </div>

</div>

<div class="footer" id="footer">
    
    <div class="credits_read_more">
        
        <div class="notes"></div>

    </div>

    <div class="credits_read_more"><h2>Read more</h2></div>

    <ul class="footer-grid">

        {{#footer}}

        <li>
            <div class="footer-item-container">
                <img src="{{image}}">
                <div class="footer_headline_container"><h2>{{headline}}</h2></div>
                <a class="anchor" href="{{url}}" target="_blank"></a>
            </div>
        </li>

        {{/footer}}
    
    </ul>

</div>